@charset "UTF-8";

@font-face {
  font-family: 'MOHAND';
  src: url('font/mohandbo_0.ttf') format('ttf');
}

.hader_logo
{
	margin: 0px;
	padding: 0px;
	/*height: 200px;*/
	height: auto; 
	width: 100%;
}

.logo
{
	height: auto;
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
	}
.logo img
{
	height: auto;
	width: 100%;
	float: center;
	/*margin-right: 20px;*/
}
.name_sla
{
	text-align: center;
	float: right;
	height: 99px;
	width: 400px;
}
.logo p
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 30px;
	font-weight: bold;
	width: auto;
	height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #090;
}
