@font-face {
    font-family: 'haunted_eyesregular';
    src: url('haunted_eyes.eot');
    src: url('haunted_eyes.eot?#iefix') format('embedded-opentype'),
         url('haunted_eyes.woff2') format('woff2'),
         url('haunted_eyes.woff') format('woff'),
         url('haunted_eyes.ttf') format('truetype'),
         url('haunted_eyes.svg#haunted_eyesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
    margin: 0;
    padding: 0;
    width: 100%;
    color: #6d6d6d;
    font: font-family: 'Cairo', sans-serif; /*normal 12px/1.5em Arial, Helvetica, sans-serif;*/
    background: #FFFFFF;
    height: auto;
}

html, .main {
	padding:0;
	margin:0;
}

.mdel_body
{
    background-color: #E8E8E8;
    color: #6d6d6d;
    font: normal 12px/1.5em Arial, Helvetica, sans-serif;
    background: #FFFFFF;
}
.mdel_body
{
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
}
.content 

{
    background-color: #FFFFFF;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.clr
{
    clear: both;
    width: 100%;
    height: 1px;
}
/*index.aspx*/

.index_contener
{
    background-color: #FFFFFF;
    width: 960px;
    margin-right: auto;
    margin-left: auto;

}
.p_news_table
{
    width: 940px;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 5px;
    margin-left: 5px;
    direction: rtl;
    float: right;
}
.p_news_table1
{
    width: 840px;
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
}
.p_news_table2
{
    width: 80px;
    float: right;
}
    
    
.user_details
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    background-color: #F0F0F0;
    border: 1px solid #000000;
    padding: 10px;
    width: 800px;
    position: absolute;
    top: 50px;
    left: 170px;
    border-radius: 7px;
    z-index: 1000;
}
.user_details .exitButt
{
    border-radius: 7px;
    float: right;
    width: 25px;
    height: 25px;
    margin-top: -30px;
    margin-right: -25px;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
}
.user_details .user_details_heder
{
    background-color: #99CCFF;
    width: 100%;
    height: 30px;
    border: 1px solid #C0C0C0;
    float: left;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    font-family: Tahoma;
    font-size: 18px;
}
.user_details .Table_user_details
{
    
    float: right;
    text-align: right;
    direction: rtl;
}

.user_details .Table_user_details td
{
    padding: 5px 30px 5px 30px;
   
}
.user_details .Table_user_details .TBox_user_details
{
    padding: 5px;
    border: 1px solid #009;
    border-radius: 7px;
    box-shadow: 5px 5px 5px #888888; /**/
    height: 20px;
    width: 195px;
}
.user_details .Table_user_details .Teria_user_details
{
    padding: 5px;
    border: 1px solid #009;
    border-radius: 7px;
    box-shadow: 5px 5px 5px #888888; /**/
    height: 100px;
    width: 200px;
}
/*
.content .mainbar
{
    margin: 0;
    padding: 0;
    float: right;
    width: 690px;
    background-color: #FFFFFF;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #000000;
}
.content .mainbar h2 {
	margin-bottom:0;
	padding-bottom:8px;
	color:#fff;
}
.content .mainbar div.img {
	padding:12px 0;
	float:left;
}
.content .mainbar img {
}
.content .mainbar img.fl {
	margin:0;
}
.content .mainbar .article
{
    margin: 10px 0 5px 0;
    padding: 0 5px 5px 10px;
    width: 670px;
}
.content .mainbar .article .infopost
{
    background: url(../images/article.jpg) no-repeat left top;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Tahoma;
    color: #FFFFFF;
    text-align: center;
    height: 50px;
    padding-top: 20px;
    padding-left: 80px;
}
.content .mainbar .post_content
{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    text-align: right;
    direction: rtl;
}
.content .mainbar .post_content strong {
	color:#6d6d6d;
}
.content .sidebar {
	padding:0;
	float:left;
	width:260px;
}
.content .sidebar .gadget {
	margin:0 0 12px;
	padding:6px 20px 24px;
}
.content .sidebar h2 {
	color:#212121;
	border-bottom:2px solid #c8c8c8;
}*/

/*الجزء الاول من الموقع - الخدمات*/
.adv_start
{
    margin: 8px;
    border: 2px solid #075e5e;
    width: 200px;
    height: 150px;
    float: right;
    border-radius: 25px;
}
.adv_start2
{
    margin: 8px;
    border: 2px solid #075e5e;
    width: 80%;
    height: 150px;
    float: center;
    border-radius: 25px;
}
.adv_start img
{
    width: 200px;
    height: 150px;
    border-radius: 25px;
}
.adv_start a
{
    border-width: 0px;
    border-style: solid;
    margin: 0px;
    padding: 0px;
}
/*جزء الاخبار وتسجيل الدخول - المنطقة الثانية*/
.part2 ,.part3
{
    width: 82%;
    height: auto;
    padding: 2px;
}

.part4 
{
    width: 85%;
    height: auto;
    padding: 2px;
    margin:auto;
}
.right_news
{
    width: 300px;
    height: 150px;
    border: 2px solid #075e5e;
    border-radius: 25px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    float: right;
    background-color: #FFFFFF;
    text-align: right;
    padding:3px;

}

.news_h1
{  
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #808080;
    text-align: center;
    height: 20px;
    width: 95%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin:auto;
}
    
.right_b
{
    width: 95%;
    padding-right: 5px;
    padding-left: 5px;
}
.right_b ul
{
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    list-style-type: none;
}

.right_b li
{
    padding: 10px 5px 10px 5px;
    width: 100%;
    height: 30px;
    text-decoration: none;
    font-weight: bold;
    text-align: right;
    border-bottom: 1px dotted #4F6383;
    color: #0000FF;
}
.right_b a
{
    color: #000099;
    text-decoration: none;
}
.right_b a:hover
{
color: #FF0000;
}

.login_index_contener
{
    width: 300px;
    height: 150px;
    border: 2px solid #075e5e;
    border-radius: 25px;
    margin-right: 8px;
    margin-left: 8px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    float: right;
    background-color: #FFFFFF;
    text-align: right;
    padding:3px;
}
.login_index_heder
{
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #808080;
    text-align: center;
    height: 20px;
    width: 95%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin:auto;
}

.login_index_contener table tr {
	/*height: 50px;*/
	height: 5px;
}
.login_index_contener table
{
    margin-right: 5px;
    margin-left: 5px;
    direction: rtl;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
}

.user_lofined
{
    width: 275px;
    padding-right: 10px;
    padding-left: 10px;
}

/* المنطقة الثالثة - الفيدوهات والالاستفتاء*/
.vedio_shaw
{
    width: 300px;
    height: auto;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

.voting_continer
{
    width: 620px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
}
/*history.aspx*/
.history
{
    direction: rtl;
    height: auto;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
}
.history .heder_history
{
    border: 2px solid #0000FF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: #F00;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    width: 930px;
    border-radius: 7px;
    background-color: #CCCCCC;
    height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#historytext p
{
	font-size: 16px;
	color: #000;
	text-align: justify;    
	font-weight: bold;
  
}


/*structure.aspx*/

/* الصور */
.structure_Image
{
    padding-left: 10px;
    float:right;
	height: 110px;
	width: 90px;
}

/* الجدول */
.news_mid .structure_table
{
	float: right;
	width: 700px;
	text-align: justify;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000;
}

/* القائمة المنبسقة */

.structure_Drop
{
    text-align: right;
    font-size: 20px;
    float: right;
    width: 961px;
    
    padding-right: 0px;
    padding-left: 0px;
    background-color: #FFF;
    padding-top: 0px;
    direction: rtl;
    color: #0000FF;
    font-weight: bold;
    line-height: 40px;
}
.structure_Drop p
{
    margin-right: 10px;
    margin-left: 10px;
}
.news_mid .data_structure
{
    width: 200px;
	font-size: 14px;
	color: #00F;
	text-align: right;
	}
/*presidents_page*/
.presidents_page
{
    padding-left: 130px;
	padding-right: 130px; 
    width: 700px;
    }
    
    .oldpic_pag
    {
        width: 960px;
        }
    .oldpic_pag img
    {
    width: 660px;
	margin-right: 150px;
	margin-left: 150px;
	padding-top: 20px;
	padding-bottom: 20px;
        }


/*عناوين الفقرات الخاصة بالجدول */
.data_structure {
	width: 150px;
	font-size: 14px;
	color: #00F;
	text-align: right;
}

/**/


.news_structure
{
    width: 600px;
    font-family: "Arial Black" , Gadget, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
    float: left;
    line-height: normal;
    margin-right: 15px;
    margin-left: 15px;
}
.news_structure img
{
    margin-right: 15px;
    margin-left: 15px;
    width: 600px;
}


/*-------------------------------------------------------------------*/
/*news.aspx*/
.adv_e3lan
{
    width:100%;
    padding-top:20px;
}


#news_titel
{
    width: 100%;
    font-family: "Arial Black" , Gadget, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
    float: left;
    line-height: normal;
    /*margin-right: 15px;
    margin-left: 15px;*/
}
#news_titel img
{
   /* margin-right: 15px;
    margin-left: 15px;*/
    width: 100%;
}

#news_r
{
    border: 1px solid #808080;
    margin: 30px auto 30px auto;
    float: right;
    width: 900px;
    background-color: #FFF;
    border-radius: 8px;
    background: #EDEDEE;
    direction: rtl;
    padding-right: 10px;
    padding-left: 50px;
}

.news_top
{
    border-width: 1px;
    border-color: #000000;
    width: 100%;
    height: 70px;
    background-image: url(../images/article_news.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    font-family: "Arial Black" , Gadget, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
    border-right-style: solid;
    border-left-style: solid;
    margin:auto;
    
}

.news_mid
{
    border-style: none solid solid solid;
    border-width: 1px;
    border-color: #000000;
    height: 100%;
    width: 890px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin:auto;
}
.last_top
{
    width: 460px;
    height: 50px;
    float: right;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.next_top
{
    width: 460px;
    height: 50px;
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    text-align: right;
    padding-top: 10px;
}
/* الصور */
#news_Image
{
   /* border-radius: 20px;
    border: 1px solid #C0C0C0;
    float: right;
    height: 110px;
    width: 100px;
    margin-left: 10px;*/

}
.news_pic
{
    float: left;
    height: 900px;
    width: 700px;
}

/* الجدول */
.news_mid table
{
	width: auto;
	text-align: right;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #00C;
	float: left;

}
#News_sources
{
    float: left;
    width: 850px;
    height: 50px;
    color: #0000FF;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.g_w_mid
{
    padding: 5px;
    height: 100%;
    width: 850px;
    margin-top: 10px;
    margin-bottom: 10px;
    direction: rtl;
    text-align: right;

}

/* الجدول */
.g_w_mid table
{
    width: auto;
    text-align: right;
    font-family: "Arial Black" , Gadget, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #00C;
    float: right;
    direction: rtl;
}
/*.L_news_titel
{   }*/

/*-------------------------------------------------------------------*/
/*veto.aspx*/
/* الصور */
.pic_Image
{
    padding-left: 10px;
    margin-left: 100px;
	margin-right: 100px; 
	height: 300px;
	width: 600px;
}
.news_pic
{
    float: left;
    height: 900px;
    width: 700px;
}

/*-------------------------------------------------------------------*/
/*veto.aspx*/



/*الازرار*/
.gradientbuttons{
	margin-left: 0;
	margin-top: 1px;
	margin-bottom: 0;
	margin-right: 5px;
	padding-top: 5px;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-left: 7px;
	border: 1px solid #778;
	font: bold 16px Verdana;
	list-style-type: none;
	text-align: center;
	display: inline;
	/*margin: 0;*/
	/*background: #3282c2;*/
	text-decoration: none;
	color: #000;
	border:1px solid gray;
	border-radius: 8px;
	/*box-shadow: 3px 3px 4px rgba(0,0,0,.5);*/
	-moz-border-radius: 8px;
	-moz-box-shadow: 3px 3px 4px rgba(0,0,0,.5);
	-webkit-border-radius: 8px;
	-webkit-box-shadow: 3px 3px 4px rgba(0,0,0,.5);
	background: -moz-linear-gradient(center top, #a4ccec, #72a6d4 25%, #3282c2 45%, #357cbd 85%, #72a6d4);
	background: -webkit-gradient(linear, center top, center bottom, from(#a4ccec), color-stop(25%, #72a6d4),
	                             color-stop(45%, #3282c2), color-stop(85%, #357cbd), to(#72a6d4));

}


.gradientbuttons a:hover{
color: #FFC;
}


/* التكس بوكس */
.designtext{
	background-color:#FFF;
	border:1px solid #075e5e;
	padding:2px;
	/*border-radius:7px;
	box-shadow:5px 5px 5px #888888;*/
	color: #000;
	font-style:normal;
	font-weight:bold;
	margin : 4px;
	}


.designtext_aria{
	background-color:#FFF;
	border:2px solid #009;
	padding:5px;
	/*border-radius:7px;
	box-shadow:5px 5px 5px #888888;*/
	color: #000;
	font-style:normal;
	font-weight:bold;
	padding : 5px;
	margin : 10px;
	
}





/*عناوين الفقرات الخاصة بالجدول */
.data_veto
{
    height: 45px;
    font-size: 20px;
    color: #00F;
    text-align: left;
    width: 120px;
    padding-left: 10px;
    font-family: 'Arial Black';
    font-weight: bold;
}

.veto_contener
{
    padding: 5px;
    direction: rtl;
    margin-left: 20px;
    margin-right: 20px;
}
.veto_contener table td
{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
#Calendar1
{
    margin : 10px;
  
    }
    
    
/*-------------------------------------------------------------------*/
/*books.aspx*/

.data_books
{
    height: 60px;
    width: 100px;
	font-size: 16px;
	color: #00F;
	text-align: center;
    font-weight: 700;
    
}
/*-------------------------------------------------------------------*/
/*contact.aspx*/
#contact
{
    width: 600px;
    height: auto;
     margin-left: auto;
	margin-right: auto;
	border:1px solid #009;
}
.contact_text
{
    height: 30px;
    font-size: 16px;
    color: #00F;
    font-weight: bold;
    text-align: center;
   
}
.contact_heder
{
    width: 600px;
    height: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #F00;
    text-align: center;
    background-color: #cccccc;
    padding-top: 20px;
    padding-bottom: 20px;
}

#contact td
{
    text-align: center;
    /*width: auto;*/
    
}
#sender
{
     width: 600px;
    height: 410px;
     margin-left: auto;
	margin-right: auto;
	
	margin-top: 10px;
}
#sender td
{
    font-weight: bold;
    width: 100px;
    height: 30px;
font-size: 16px;
	color: #00F;
	text-align: center;
	border:1px solid #009;
    }
    
   /* #contact table{
    border: 1px solid #333;
    }*/
/*-------------------------------------------------------------------*/
/*dstor.aspx*/
.dstor table
{
     margin-left: auto;
	margin-right: auto;
}
.dstor_heder
{
width: 600px;
height: 40px;
font-size: 18px;
font-weight: bold;
color: #F00;
text-align: center;
background-color: #09F;
}
.dstor td
{
font-weight: bold;
font-size: 16px;
color: #00F;
text-align: center; 
border:1px solid #009;
}
.dstor img
{
    width: 180px;
    height: 90px;
}

/*-------------------------------------------------------------------*/
/*lsarol.aspx*/
.lsa_rol
{
     width: 800px;
    height: auto;
     margin-left: auto;
	margin-right: auto;
	direction: rtl;
}
/*-------------------------------------------------------------------*/
/*decisions*/

.decisions table
{
    width: 800px;
    direction: rtl;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
}
.decisions_hader
{
    font-size: 18px;
    background-color: #CCCCCC;
    font-weight: bold;
}
.decisions td
{
height: 40px;
font-weight: bold;
font-size: 16px;
color: #00F;
text-align: center; 
border:1px solid #009;
}

/*-------------------------------------------------------------------*/
/*court.aspx*/

.court
{
    padding-top: 20px;
    direction: rtl;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.court_r {
	float: right;
	width: 860px;
	height: auto;
	padding-top: 20px;
	padding-right: 50px;
	padding-left: 50px;
	background-color: #FFF;
}

.court_top
{
    width: 860px;
    height: 31px;
    background-image: url(../images/tit_b_new.jpg);
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    font-size: 18px;
    color: #F00;
    font-family: "Arial Black" , Gadget, sans-serif;
    font-weight: bold;
    padding-top: 10px;
}

.court_mid {
padding: 13px 11px 5px 11px;
background: #EDEDEE;
height: 100%;
}
.court_mid table
{
direction: rtl;
width: 100%;
height: 100%;
}

.court_mid td
{
height: 30px;
font-weight: bold;
font-size: 16px;
color: #00F;
text-align: center; 
/*border:1px solid #009;*/
}

.court_mid /*#Label1,#Label2,#Label3,#Label4,#Label5*/
{

font-weight: bold;
font-size: 14px;
color: #000;
text-align: center; 
/*border:1px solid #009;*/
}

/*login pag*/
#login_user
{
    margin-left: 0;
	margin-top: 1px;
	margin-bottom: 0;
	margin-right: 5px;
	padding-top: 5px;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-left: 7px;
	border: 1px solid #778;
	font: bold 13px Verdana;
	list-style-type: none;
	text-align: center;
	display: inline;
	/*margin: 0;*/
	/*background: #3282c2;*/
	text-decoration: none;
	color: #000;
	border:1px solid gray;
	border-radius: 8px;
	/*box-shadow: 3px 3px 4px rgba(0,0,0,.5);*/
	-moz-border-radius: 8px;
	-moz-box-shadow: 3px 3px 4px rgba(0,0,0,.5);
	-webkit-border-radius: 8px;
	-webkit-box-shadow: 3px 3px 4px rgba(0,0,0,.5);
	background: -moz-linear-gradient(center top, #a4ccec, #72a6d4 25%, #3282c2 45%, #357cbd 85%, #72a6d4);
	background: -webkit-gradient(linear, center top, center bottom, from(#a4ccec), color-stop(25%, #72a6d4),
	                             color-stop(45%, #3282c2), color-stop(85%, #357cbd), to(#72a6d4));

    }

.login_contener
{
	width: 500px;
	
	border:1px solid #00F;
	border-radius: 8px;
	margin-right: auto;
	margin-left: auto;
	font-size: 16px;
	color: #333;
	font-weight: bold;
	margin-bottom: 10px;
}
.login_heder
{
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #FF0000;
    background-color: #cccccc;
    text-align: center;
    height: 30px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.login_contener table tr {
	height: 50px;
}
.login_contener table {
	margin-right: 10px;
	margin-left: 10px;
	width: auto;
	direction:rtl;
	border:0px solid #00F;
}
.login_img {
	background-image: url(../administrator/images/en-ligne.png);
	height: 43px;
	width: 43px;
	background-repeat: no-repeat;
	background-position: right center;
}
.pass_img {
	background-image: url(../administrator/images/pass.png);
	height: 43px;
	width: 43px;
	background-repeat: no-repeat;
	background-position: right center;
}

/*userclass*/

.userclass
{
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    }

/*userlogin*/
.userlogin
{
    border: 1px solid #0000CC;
    padding: 7px;
    background-color: #cccccc;
    margin: 5px auto 5px auto;
    text-align: right;
    height: 40px;
    width: 945px;
    border-radius: 8px;
    color: #FF0000;
}
.userlogin td
{
    text-align: right;
    
    }
    
/*eshraf.aspx*/
.cont_eshraf
{
    padding: 10px;
}
.cont_eshraf .cont_eshraf_heder
{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #0000FF;
    font-size: 28px;
    font-weight: bold;
}
.cont_eshraf .cont_eshraf_text
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #000000;
    font-size: 16px;
}
.Grid_class_natega
{
    direction: rtl;
    }
    
/*control.aspx*/

.control_continer
{
    width: 100%;
}
.control_buttom
{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #C0C0C0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    height: 30px;
}
.control_buttom table
{
    direction: rtl;
    width: 95%;
}
.control_button
{
    padding: 5px;
    border: 1px solid #778;
    margin: 1px 20px 0 20px;
    font: bold 13px Verdana;
    list-style-type: none;
    text-align: center;
    display: inline;
    text-decoration: none;
    color: #000;
    border: 1px solid gray;
    border-radius: 8px;
    float: right;
}
.control_mydetils
, .control_password
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    background-color: #F0F0F0;
    border: 1px solid #000000;
    padding: 10px;
    width: 800px;
    border-radius: 7px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}
.control_mydetils .exitButt 
, .control_password .exitButt
{
    border-radius: 7px;
    float: right;
    width: 25px;
    height: 25px;
    margin-top: -30px;
    margin-right: -25px;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
}
.control_mydetils .mydetails_heder 
, .control_password .mydetails_heder
{
    background-color: #99CCFF;
    width: 100%;
    height: 30px;
    border: 1px solid #C0C0C0;
    float: left;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    font-family: Tahoma;
    font-size: 18px;
}
.control_mydetils .Table_user_details
,.control_password .Table_user_password
{
    
    float: right;
    text-align: right;
    direction: rtl;
}

.control_mydetils .Table_user_details td
, .control_password .Table_user_password td
,.Family_husband .table_Family td
{
    padding: 5px 30px 5px 30px;
   
}
.control_mydetils .Table_user_details .TBox_user_details
, .control_password .Table_user_password .TBox_user_details
{
    padding: 5px;
    border: 1px solid #009;
    border-radius: 7px;
    box-shadow: 5px 5px 5px #888888;
    height: 20px;
    width: 195px;
}
.control_mydetils .Table_user_details .Teria_user_details 
{
    padding: 5px;
    border: 1px solid #009;
    border-radius: 7px;
    box-shadow: 5px 5px 5px #888888; 
    height: 100px;
    width: 200px;
}


.care_staff_contint
{
    width: 100%;
}
.care_staff_contint .login_contener
{
    margin: 10px auto 10px auto;
    padding: 5px;
    width: 600px;
    border: 1px solid #000000;
    border-radius: 7px;
}
.heder_login
{
    background-color: #CCCCCC;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 7px;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.care_staff_contint .login_contener .table_login
,.table_Family
{
    float: right;
    text-align: right;
    direction: rtl;
}
.Button_chek
{
    padding: 5px;
    border: 1px solid #778;
    margin: 1px 20px 0 20px;
    font: bold 13px Verdana;
    list-style-type: none;
    text-align: center;
    display: inline;
    text-decoration: none;
    color: #000;
    border: 1px solid gray;
    border-radius: 8px;
    float: right;
}
.Family_husband
{
    border: 1px solid #000000;
    width: 800px;
    background-color: #99CCFF;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin-top: 20px;
}
.Statistics_hhh
{
    color: #FF0000;
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
    font-family: Andalus;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 25px;
}
.estaf_tt
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
    color: #FF0000;
    font-weight: bold;
    line-height: 40px;
}

/*البحث عن قوانين*/

.law_cont_butt
{
    width: 100%;
    height: 45px;
}

.law_cont_butt table
{
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 5px;
    margin-left: 5px;
    direction: rtl;
    float: right;
}

.law_cont_butt a
{
    border: 1px solid #C0C0C0;
    padding: 5px;
    display: block;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-family: Tahoma;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #C0C0C0;
}
.law_cont_butt a:hover
{
    background-color: #FFFFFF;
    border: 1px solid #C0C0C0;
    padding: 5px;
    display: block;
    color: #CC3300;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.law_serch
{
    padding: 5px;
    width: 950px;
    margin-top: 5px;
    height: auto;
    margin-bottom: 5px;
}

.law_serch table
{
    width: 960 px;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 5px;
    margin-left: 5px;
    direction: rtl;
    float: right;
}

.TBox_style
{
    border-radius: 7px;
    box-shadow: 5px 5px 5px #888888; /**/
    /*margin: 5px;*/

    padding: 5px;
    border: 1px solid #009;
    
}
.TBox_s_style
{
    border-radius: 7px;
    box-shadow: 5px 5px 5px #888888;/**/
    margin: 5px;
    padding: 5px;
    border: 1px solid #009;
    width: 50px;
}
.name_law_text
{
    font-family: 'Times New Roman' , Times, serif;
    font-size: 25px;
    color: #008000;
    font-weight: bold;
    text-align: center;
    width: 960px;
    height: 50px;
    text-decoration: underline;
}

.view_law_Article
{
    padding: 15px;
    border: .5px solid #CCCCCC;
    width: 930px;
    direction: rtl;
    height: auto;
    margin-top: 5px;
}
.view_law_Article .num_Article
{
    direction: rtl;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: bold;
    color: #FF0000;
    text-align: center;
    float: right;
    width: 100%;
    margin-bottom: 10px;
    text-decoration: underline;
}
.view_law_Article p , .view_law_Article li , .view_law_Article span
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-align: justify;
}
/*الطلبات*/
.cl_Text_masgtext
{
    margin: 5px;
    padding: 5px;
    border: 1px solid #808080;
    width: 600px;
    height: auto;
}
/*التقديم الالكتروني*/
/*الموظفين*/
.new_data_emp
{
    border: 3px solid #990000;
    width: 70%;
    direction: rtl;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
    color: #006600;
    line-height: 1.5cm;
    margin:auto;
    padding:5px;
    margin-top:30px;
    margin-bottom:30px;
 
   
}
.new_data_emp table
{
    width: 98%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
    direction: rtl;
    text-align:center;
}

.new_data_coun_nots_error
{
    margin: 20px;
    padding: 10px; /*border: 2px solid #009900;*/
    color: #FF0000;
    font-size: 24px;
    font-family: 'Times New Roman' , Times, serif;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: justify;
    background-color: #F0F0F0;
    border: 1px solid #000000;
    width: 500px;
    position: absolute;
    top: 80px;
    left: 290px;
    border-radius: 7px;
    height: 230px;
    direction: rtl;
}
.app_heder
{
    background-color: #333333;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 950px;
    margin: 5px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    direction: rtl;
}
.app_contant
{
    padding: 6% ; /*15px 10px 15px 10px;*/
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
    width: 950px;
    line-height: 1cm;
    direction: rtl;
}
.app_contant table
{
    border-collapse: collapse;
    mso-table-layout-alt: fixed;
    border: 1px none #000000;
    mso-border-alt: solid windowtext .5pt;
    mso-yfti-tbllook: 1184;
    mso-padding-alt: 0cm 5.4pt 0cm 5.4pt;
    mso-table-dir: bidi;
    mso-border-insideh: .5pt solid windowtext;
    mso-border-insidev: .5pt solid windowtext;
    width: 600px;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
}
.new_data_coun_nots_start
{ 
    margin: 20px;
    padding: 10px; /*border: 2px solid #009900;*/
    color: #FF0000;
    font-size: 24px;
    font-family: 'Times New Roman' , Times, serif;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: right;
    background-color: #F0F0F0;
    border: 1px solid #000000;
    width: 300px;
    position: absolute;
    top: 250px;
    left: 350px;
    border-radius: 7px;
    height: 100px;
    direction: rtl;
    }
.new_data_coun_heder
{
    font-family: 'Arial Black';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: #000000;
    height: 60px;
    vertical-align: top;
}
.new_data_coun_logo img
{
    width:150px;
    border: 3px solid #000000;
}
.new_data_emp .style1
{
    text-align: center;
    width: 140px;
    vertical-align: top;
    padding-left: 5px;
}

.new_data_emp .style10
{
    text-align: left;
    width: auto;
    vertical-align: top;
    padding-left: 5px;
}
/*: Arial;
    font-size: 18px;
    height: 70px;
    vertical-align: top;
    padding-right: 10px;
    width: 315px;
}*/

.adv_e3lan img
{
   margin: 5px;
    bbborder: 2px solid #0000FF;
    width: 944px;
    height: auto;
    float: right;
    border-radius: 12px;
}

: Arial;
    font-size: 18px;
    height: 70px;
    vertical-align: top;
    padding-right: 10px;
    width: 315px;
}

.adv_e3lan img
{
   margin: 5px;
    bbborder: 2px solid #0000FF;
    width: 944px;
    height: auto;
    float: right;
    border-radius: 12px;
}

#Label_ID
{
    font-size: 22px;
    font-family: Arial;
    font-weight: bold;
    color:#1d284e;
}

#Label_ID
{
    font-size: large;
    
    font-family: "Times New Roman";
    font-weight: bold;
    color:#1d284e;
}
/*الاعضاء*/
.new_data_coun_nots
{
    margin: 10px;
    padding: 10px;
    border: 2px solid #009900;
    color: #FF0000;
    font-size: 20px;
    font-family: 'Times New Roman' , Times, serif;
    font-weight: bold;
    width: 100%;
}

.new_data_coun
{
    /*border: 3px solid #000000;*/
    width:100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
    direction: rtl;
    /*float: right;*/
    font-size: 21px;
    font-weight: bold;
    /*font-family: Arial, Helvetica, sans-serif;*/
    color: #1D284E;
}
px;
    margin-right: auto;
    margin-left: 0px;
    direction: rtl;
    height: 100%;
}

.new_data_coun .style1
{
    text-align: left;
    height: 60px;
    width: 195px;
    vertical-align: middle;
    padding-left: 5px;
}

.new_data_coun .style1
{
    text-align: left;
    height: 60px;
    width: 195px;
    vertical-align: middle;
    padding-left: 5px;
    font-size: 18px;
}
.new_data_coun .style11
{
    text-align: left;
    height: 46px;
    width: 195px;
    vertical-align: middle;
    padding-left: 5px;
    font-size: 18px;
}
.new_data_coun .style2
{
    color: #000000;
    text-align: right;
    font-family: Arial;
    font-size: 15px;
    vertical-align: middle;
    padding-right: 10px;
    width: 280px;
}
.new_data_coun .style3
{
    text-align: center;
    vertical-align: top;
    padding-left: 5px;
    height: 60px;
}
.new_data_coun .style_heder
{
    font-size: 18px;
    font-family: Aharoni;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    font-family: Tahoma;
    text-align: center;
    vertical-align: middle;
    height: 60px;
    font-weight: bold;
    color: #000000;
}
.new_data_coun .style4
{
    text-align: justify;
    vertical-align: middle;
    padding-left: 5px;
    line-height: 1.3cm;
}
.app_contant table
{
    margin: 10px;
    width: 100%;
    border: 1px solid #000000;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}
.app_contant table td
{
    border: 1px solid #000000;
}
.app_contant_heder
{
    background-color: #C0C0C0;
    font-size: 22px;
    font-weight: bold;
    color: #FF0000;
}

.result_text
{
    border: 2px solid #000000;
    color: #FF0000;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    height: 75px;
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5cm;
    text-align: center;
}
{
    width: 901px;
    height: 99%;
}
.ID_istmara
{
    width: 930px;
    position: absolute;
    vertical-align: middle;
    text-align: center;
    height: 70px;
    margin-top: 120px;
    z-index: 10;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    padding-right: 5px;
    padding-left: 5px;
    line-height: 1cm;
    float: right;
}

.ID_istmara
{
    width: 930px;
    position: absolute;
    vertical-align: middle;
    text-align: center;
    height: 70px;
    margin-top: 120px;
    z-index: 10;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    padding-right: 5px;
    padding-left: 5px;
    line-height: 1cm;
    float: right;
}

.e3lan_mandop
{
    text-align: right;
}

@font-face {
    font-family: 'b_e_s_m_e_l_l_a_h_2regular';
    src: url('besmellah_2.eot');
    src: url('besmellah_2.eot?#iefix') format('embedded-opentype'),
         url('besmellah_2.woff2') format('woff2'),
         url('besmellah_2.woff') format('woff'),
         url('besmellah_2.ttf') format('truetype'),
         url('besmellah_2.svg#b_e_s_m_e_l_l_a_h_2regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

